$color-text: #222222;
$color-text-grey: #8F8F8F;


body {
    margin: 20px 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.b-reviews {
    max-width: 970px;
    margin: 0 auto;
    font-family: 'Roboto';
    .reviews {
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 16px;
        }
        &__item {
            padding: 25px;
            border: 1px solid #E5E5E5;
            margin-bottom: 30px;
        }
        &__top {
            display: flex;
            align-items: baseline;
            column-gap: 20px;
            margin-bottom: 27px;
        }
        &__author-icon,
        &__city-icon {
            vertical-align: middle;
            margin-right: 10px;
        }
        &__author-name,
        &__city-name {
            font-weight: 500;
            color: $color-text;
        }
        &__date {
            color: $color-text-grey;   
        }
        &__text {
            line-height: 1.5;
            font-weight: 300;
            color: $color-text;
        }
    }
}